{% extends 'blogs/main.html' %}

{% block content %}

    <div class="container">
        <div class="feed_list">
            <h2>Feeds</h2>
            {% for feed in feeds %}
            <span class="feed_item"><a href="{% url 'feed_selected' feed.id %}">{{ feed.title }}</a></span>
            {% endfor %}
            <span class="new_feed"><a href="{% url 'new_feed' %}">NEW FEED</a></span>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Articles</h2>
        <form method="get" action="">
            <input type="text" name="q" placeholder="Search authors" value="{{ request.GET.q }}"/>
            <input type="submit" value="Search"/>
        </form>
        {% for entry in entries %}
        <article class="entry">
        <span class="entry-title"><h3>{{entry.title}}</h3></span>
            <section>
            <p>{{entry.description | safe}}</p>
            </section>
            <footer>
            <p>{{entry.author}}, {{entry.publication_date}}</p>
            <p><a href="{{entry.url}}" target="_blank">View Details</a></p>
            </footer>
            <hr/>
        </article>
        {% endfor %}

        {% include "blogs/pagination.html" with page=posts %}
    </div>

{% endblock %}
