{% extends 'blogs/main.html' %}

{% block content %}

    <div class="container">
        <h2>Selected Feed Articles</h2>
        <form method="get" action="">
            <input type="text" name="q" placeholder="Search authors" value="{{ request.GET.q }}"/>
            <input type="submit" value="Search"/>
        </form>
        {% for entry in entries %}
        <article class="entry">
        <span class="entry-title"><h3>{{entry.title}}</h3></span>
            <section>
            <p>{{entry.description | safe}}</p>
            </section>
            <footer>
            <p>{{entry.author}}, {{entry.publication_date}}</p>
            <p><a class="details" href="{{entry.url}}" target="_blank">View Details</a></p>
            </footer>
            <hr/>
        </article>
        {% endfor %}
        {% include "blogs/pagination.html" with page=posts %}
    </div>

{% endblock %}
