<!DOCTYPE html>
<html lang="hr">

<head>
    <!-- Osnovno za stranicu
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Stipe's RSS Snatcher</title>
    <meta name="author" content="Stipe Balenovich">
    <meta name="description" content="RSS feed aplikacija Stipe Balenovicha">
    <meta name="keywords" content="RSS,rss,feed,aggregator,news,blog,blogs">
    <!-- Za mobilne uređaje
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blogs/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blogs/styles.css' %}"/>
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- Skripte
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- na dnu stranice -->
</head>

<body>

    <h1><a href="{% url 'articles_list' %}">Stipe's RSS Snatcher</a></h1>

    <hr>

    {% block content %}
    {% endblock %}

</body>

</html>
