{% extends 'blogs/main.html' %}

{% block content %}

    <div class="container">
        <h2>New Feed</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>

{% endblock %}
