        <div class="pagination">
            <span class="step-links">
                {% if entries.has_previous %}
                    <a href="?page={{ entries.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
                </span>

                {% if entries.has_next %}
                    <a href="?page={{ entries.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
