/*
* author: Stipe Balenovich
* tvrtka  ?
* datum 20.07.2016
*/


/*
1. typography  
2. header, logo
3. navigation
4. content
5. footer
6. background
7. containers and clearing
8. media queries
*/


/* 1. typography */

.entry > h2{
    font-size:20px;
}

.entry > h3{
    font-size:18px;
}

.entry > h3{
    font-size:16px;
}

.entry > h4{
    font-size:14px;
}

.entry > p{
    font-size:16px;
}

.entry-title > h3{
    font-size:20px;
    font-weight:700;
    text-shadow: 1px 1px 1px #C9C9C9;
}

section a{
    font-weight:700;
    color:black;
}

footer{
    font-style: italic;
}

/* 2. header, logo */

h1 {
    text-align: center;
    text-shadow: 1px 1px 1px #C9C9C9;
}

h1 > a{
    text-decoration: none;
    color: black;
}

/* 3. navigation */

.feed_item > a, footer > p > a {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    color: white;
    background-color: black;
}

.new_feed > a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

/* 4. content */


/* 5. footer */


/* 6. background */


/* 7. containers and clearing */

.container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}


/* ----------8. Media Queries---------- */


/* -----Widths----- */


/* Mobile */

@media (max-width: 549px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}


/* Phablet */

@media (min-width: 550px) and (max-width: 749px) {
    .container {
        width: 85%;
    }
}


/* Tablet */

@media (min-width: 750px) and (max-width: 999px) {

}


/* Desktop */

@media (min-width: 1000px) and (max-width: 1199px) {

}


/* Desktop HD */

@media screen and (min-width: 1200px) and (max-width: 1449px) {

}


/* Desktop HD  Wider */

@media (min-width: 1450px) {

}


/* -----Height----- */

@media (max-height: 350px) {
    header {
        padding-top: 5vh;
    }
}

